{<<"app">>,<<"jsx">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"a streaming, evented json parsing toolkit">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/jsx.app.src">>,<<"src/jsx.erl">>,<<"src/jsx_config.erl">>,
  <<"src/jsx_config.hrl">>,<<"src/jsx_consult.erl">>,
  <<"src/jsx_decoder.erl">>,<<"src/jsx_encoder.erl">>,
  <<"src/jsx_parser.erl">>,<<"src/jsx_to_json.erl">>,
  <<"src/jsx_to_term.erl">>,<<"src/jsx_verify.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/talentdeficit/jsx">>}]}.
{<<"name">>,<<"jsx">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"3.1.0">>}.
