{<<"app">>,<<"crc32cer">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"CRC32-C as nif for Erlang">>}.
{<<"files">>,
 [<<"Makefile">>,<<"c_src/crc32c.c">>,<<"c_src/crc32c.h">>,
  <<"c_src/crc32c_nif.c">>,<<"c_src/rdendian.h">>,<<"rebar.config">>,
  <<"src/crc32cer.app.src">>,<<"src/crc32cer.erl">>]}.
{<<"licenses">>,[<<"Apache License 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/zmstone/crc32cer.git">>}]}.
{<<"name">>,<<"crc32cer">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.1.8">>}.
