{erl_opts, [{i, "src"},
            warnings_as_errors,
            debug_info,
            {w, all},
            warn_export_all]}.

{plugins, [pc]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/crc32cer_nif.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {".*", "ERL_LDFLAGS", " -L$ERL_EI_LIBDIR -lei"},
    {"(linux|darwin)", "CFLAGS", "$CFLAGS -O3 -std=gnu99 -finline-functions -Wall -Wmissing-prototypes"},
    {"win32", "CFLAGS", "$CFLAGS /LD /O2 /DNDEBUG"}
]}.


{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

