{deps,
    [ %% not all plugins have to depend on emqx
      %% but if they do, use git_subdir in the default profile
      {hocon, {git, "https://github.com/emqx/hocon.git", {tag, "0.29.0"}}},
      {brod, {git, "https://github.com/kafka4beam/brod.git",  {tag, "3.16.3"}}},
      {emqx, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.0.3"}, "apps/emqx"}}
      %% this is my plugin's dependency
    , {map_sets, "1.1.0"}
    ]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.3.0"}}}
]}.

{erl_opts, [debug_info]}.
{relx, [ {release, {emqx_plugin_kafka, "5.0.0"}, %% this is the release version, different from app vsn in .app file
            [ emqx_plugin_kafka
            ,map_sets
            ,brod
            ,kafka_protocol
            ,crc32cer
            ,snappyer
            ,hocon
            ]}
       , {dev_mode, false}
       , {include_erts, true}
       , {overlay, [
          {copy, "scripts/brod", "bin"},
          {copy, "{{lib_dirs}}/crc32cer/priv/crc32cer*.so", "bin"},
          {copy, "{{lib_dirs}}/snappyer/priv/snappyer.so", "bin"}
         ]}
       ]}.
%% Additional info of the plugin
{emqx_plugrel,
    [ {authors, ["SimingWong"]}
    , {builder,
        [ {name, "SimingWong"}
        , {contact, "376210268@qq.com"}
        , {website, "www.emqx.com"}
        ]}
    , {repo, "https://github.com/simingwang/emqx-plugin-kafkav5.git"}
    , {functionality, ["emqx-plugin-kafka"]}
    , {compatibility,
        [ {emqx, "~> 5.0"}
        ]}
    , {description, "This is a kafka plugin"}
    ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,deprecated_functions]}.
