{<<"app">>,<<"snappyer">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Snappy as nif for Erlang">>}.
{<<"files">>,
 [<<"COPYING">>,<<"Makefile">>,<<"README.md">>,<<"c_src/erl_nif_compat.h">>,
  <<"c_src/snappy-internal.h">>,<<"c_src/snappy-sinksource.cc">>,
  <<"c_src/snappy-sinksource.h">>,<<"c_src/snappy-stubs-internal.cc">>,
  <<"c_src/snappy-stubs-internal.h">>,<<"c_src/snappy-stubs-public.h">>,
  <<"c_src/snappy.cc">>,<<"c_src/snappy.h">>,<<"c_src/snappyer.cc">>,
  <<"rebar.config">>,<<"src/snappyer.app.src">>,<<"src/snappyer.erl">>]}.
{<<"licenses">>,[<<"Apache License 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/zmstone/snappyer.git">>}]}.
{<<"name">>,<<"snappyer">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.2.8">>}.
