{erl_opts, [{i, "src"},
            warnings_as_errors,
            debug_info,
            {w, all},
            warn_export_all]}.

{plugins, [pc]}.

{provider_hooks, [
  {pre, [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
  ]}
]}.

{port_specs, [
    {"priv/snappyer.so", [
        "c_src/*.cc"
    ]}
]}.

{port_env, [
    {".*", "ERL_LDFLAGS", " -L$ERL_EI_LIBDIR -lei"},
    {"(linux|darwin)", "CFLAGS", "$CFLAGS -O2 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -Wall -std=c99"},
    {"(linux|darwin)", "CXXFLAGS", "$CXXFLAGS -std=c++11"},
    {"win32", "DRV_LINK_CXX_TEMPLATE", "$CC $ERL_CFLAGS $PORT_IN_FILES /link /DLL /MACHINE:X64 $DRV_LDFLAGS /OUT:$PORT_OUT_FILE"}
]}.


{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.
