{<<"app">>,<<"supervisor3">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"A copy of supervisor.erl from the R16B Erlang/OTP with modifications">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"LICENSE-MPL-RabbitMQ">>,<<"Makefile">>,<<"README.md">>,
  <<"rebar.config">>,<<"src/supervisor3.app.src">>,<<"src/supervisor3.erl">>]}.
{<<"licenses">>,[<<"MPL">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/klarna/supervisor3">>}]}.
{<<"name">>,<<"supervisor3">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.1.11">>}.
