{<<"app">>,<<"kafka_protocol">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Kafka protocol library for Erlang/Elixir">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"Makefile">>,<<"NOTICE">>,<<"README.md">>,
  <<"include/kpro.hrl">>,<<"include/kpro_error_codes.hrl">>,
  <<"include/kpro_private.hrl">>,<<"include/kpro_public.hrl">>,
  <<"priv/kafka.bnf">>,<<"rebar.config">>,<<"rebar.config.script">>,
  <<"src/kafka_protocol.app.src">>,<<"src/kpro.erl">>,
  <<"src/kpro_api_vsn.erl">>,<<"src/kpro_app.erl">>,
  <<"src/kpro_auth_backend.erl">>,<<"src/kpro_batch.erl">>,
  <<"src/kpro_batch_v01.erl">>,<<"src/kpro_brokers.erl">>,
  <<"src/kpro_compress.erl">>,<<"src/kpro_connection.erl">>,
  <<"src/kpro_consumer_group.erl">>,<<"src/kpro_lib.erl">>,
  <<"src/kpro_prelude_schema.erl">>,<<"src/kpro_req_lib.erl">>,
  <<"src/kpro_rsp_lib.erl">>,<<"src/kpro_sasl.erl">>,
  <<"src/kpro_schema.erl">>,<<"src/kpro_schema_11.erl">>,
  <<"src/kpro_scram.erl">>,<<"src/kpro_sent_reqs.erl">>,
  <<"src/kpro_txn_lib.erl">>,<<"src/kpro_varint.erl">>]}.
{<<"licenses">>,[<<"Apache License 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/kafka4beam/kafka_protocol">>}]}.
{<<"name">>,<<"kafka_protocol">>}.
{<<"requirements">>,
 [{<<"crc32cer">>,
   [{<<"app">>,<<"crc32cer">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.1.8">>}]}]}.
{<<"version">>,<<"4.0.3">>}.
