{<<"app">>,<<"map_sets">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"sets-like wrapper based on maps">>}.
{<<"files">>,
 [<<"src/map_sets.app.src">>,<<"LICENSE">>,<<"README.org">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/map_sets.erl">>]}.
{<<"licenses">>,[<<"public domain">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/k32/map_sets">>}]}.
{<<"name">>,<<"map_sets">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.1.0">>}.
