{<<"app">>,<<"rebar3_eetcd_plugin">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Rebar3 plugin to generate client for eetcd">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"priv/eetcd_client.template">>,
  <<"priv/eetcd_sample_client.erl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/rebar3_eetcd_plugin.app.src">>,<<"src/rebar3_eetcd_plugin.erl">>,
  <<"src/rebar3_eetcd_prv_compile.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/zhongwencool/rebar3_eetcd_plugin">>}]}.
{<<"name">>,<<"rebar3_eetcd_plugin">>}.
{<<"requirements">>,
 [{<<"gpb">>,
   [{<<"app">>,<<"gpb">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>4.10.6">>}]},
  {<<"providers">>,
   [{<<"app">>,<<"providers">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>1.8.1">>}]}]}.
{<<"version">>,<<"0.3.0">>}.
