{<<"name">>,<<"rebar3_gpb_plugin">>}.
{<<"version">>,<<"2.13.1">>}.
{<<"requirements">>,
 #{<<"gpb">> =>
       #{<<"app">> => <<"gpb">>,<<"optional">> => false,
         <<"requirement">> => <<"4.11.1">>}}}.
{<<"app">>,<<"rebar3_gpb_plugin">>}.
{<<"maintainers">>,[<<"Luis Rascao">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"A rebar3 gpb plugin for compiling .proto files">>}.
{<<"files">>,
 [<<"src/rebar3_gpb_plugin.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/rebar3_gpb_compiler.erl">>,
  <<"src/rebar3_gpb_plugin.erl">>,<<"src/rebar3_gpb_prv_clean.erl">>,
  <<"src/rebar3_gpb_prv_compile.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/lrascao/rebar3_gpb_plugin">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
