{<<"app">>,<<"sext">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Sortable serialization library">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"NOTICE">>,<<"README.md">>,<<"rebar.config">>,
  <<"src/sext.app.src">>,<<"src/sext.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/uwiger/sext">>}]}.
{<<"name">>,<<"sext">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.8.0">>}.
